$purple-tone: #7e254e;
$yellow-tone: #eabd00;

.FormContacts {
  padding: 1rem;

  .contactTitle {
    font-size: 1.5rem;
    color: $purple-tone;
  }

  .dataForm {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    .fields {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;


      .FieldFormVolunteer {
        margin-left: 2.5rem;
        width: calc(30% - 5px);
      }

      .InputFieldForm {
        border: 1px solid $purple-tone;
        font-size: 20px;
      }

      .TextAreaForm {
        padding: 0;
        width: calc(30% - 5px);
        margin-left: 2.5rem;

        textarea {
          border: 1px solid $purple-tone;
          font-size: 20px;
        }

      }
    }


    .captchaSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;


      input {
        margin-right: 0.5rem;
      }

      .LinkText {
        color: $yellow-tone;
        font-weight: normal;
        text-decoration: none;
        margin-left: 0.25rem;

        &:hover {
          color: $purple-tone;
        }
      }

      button {
        background-color: $purple-tone;
        padding: 1rem 3rem;
      }
    }

  }
}

@media (max-width: 1200px) {
  .FormContacts {
    padding: 1rem;

    .dataForm {
      .fields {
        flex-direction: column;
        align-items: center;

        .FieldFormVolunteer {
          margin-top: 2rem;
          margin-left: 0;
          width: calc(90% - 5px);

        }


        .TextAreaForm {
          margin-top: 2rem;
          margin-left: 0;
          width: calc(90% - 5px);


        }
      }

      .captchaSection {
        flex-direction: column;
        align-items: center;

        input {
          margin-right: 0.5rem;
        }

        .LinkText {
          margin-left: 0.25rem;
        }
      }
    }
  }

}
