$purple-tone: #7e254e;
$yellow-tone: #eabd00;

.Esal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .title {
    font-size: 2rem;
    color: $purple-tone;
    font-weight: normal;
  }

  .context {
    p {
      margin-bottom: 2.5rem;
    }

    .LinkText {
      margin-left: 0.25rem;
    }
  }

  .buttons {
    width: calc(100% - 5rem);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .LinkText {
      color: white;
      background-color: $yellow-tone;
      border-style: none;
      border-radius: 0.3rem;
      font-size: 1rem;
      padding: 1.25rem 2.5rem;
      transition: 1s;

      &:hover {
        background-color: $purple-tone;
        transform: scale(1.1);
      }
    }
  }

  .footerMessage {
    font-size: 1rem;

    h2 {
      font-weight: normal;
      color: $purple-tone;
    }
  }

  .LinkText {
    text-decoration: none;
    color: $yellow-tone;
    font-weight: bold;

    &:hover {
      color: $purple-tone;
    }
  }
}

@media (max-width: 1200px) {
  .Esal {
    padding: 2rem;

    .title {
      font-size: 1.25rem;
    }

    .buttons {
      display: flex;
      flex-direction: column;

      .LinkText {
        margin-bottom: 1rem;
      }

    }

    .footerMessage {
      text-align: center;
      font-size: 0.8rem;
    }
  }

}

