$purple-tone: #7e254e;
$yellow-tone: #eabd00;

div {
  .main-div {
    display: flex;
    text-align: left;
    flex-direction: column;

  }


}

@media (max-width: 992px) {
  div {
    .main-div {
      display: flex;
      flex-direction: column;
    }
  }
}

