$purple-tone: #7e254e;
$yellow-tone: #eabd00;


.Contact {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 1rem;

}


@media (max-width: 992px) {
  .Contact {
    display: flex;
    flex-direction: column;
  }
}

