.FormRegisterEsal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2.5rem;


  .SubmitButton {
    background: #7e254e;
  }
}

@media (max-width: 1000px) {
  .FormRegisterEsal {
     padding: 1rem;

  }

}
