.TextAreaForm {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 1rem 10rem;


  .inputTextArea {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background: #f2f2f2;
  }

}
